<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76471554747-a5hekk6p2o8n3jf3pbv741f11m78e32u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76471554747-a5hekk6p2o8n3jf3pbv741f11m78e32u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>76471554747-9t5onufd1l14s3rdmcg9mqkr5mbhqqg8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZU74bMiz_zWDfPgWAiKvnu9z5P8HNWwA</string>
	<key>GCM_SENDER_ID</key>
	<string>76471554747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.hexariderider</string>
	<key>PROJECT_ID</key>
	<string>drivevalley-fdb7f</string>
	<key>STORAGE_BUCKET</key>
	<string>drivevalley-fdb7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76471554747:ios:adbcda7af9c3a5ae6d0f9e</string>
</dict>
</plist>